@import 'normalize',
        'base',
        'variables',
        'pagination',
        'icons',
        'header',
        'nav',
        'searchbox',
        'hits',
        'selects',
        'footer',
        'buttons';

$main-color: #191919;

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  float: left;
}

body {
  background: $main-color;
  color: #fff;
}


.row {
  width: 100%;
  float: left;
  padding: 8px 16px;
}